<div class="container">
    <div class="box">
      <div class="title-card">
        Criar Sistema
      </div>
      <div>
        <div class="box-input">
            <div class="field-input">
              <span>Descrição</span>
                <mat-form-field class="md-input">
                  <input 
                    matInput
                    placeholder="Informe a descrição"
                    name="descricao"
                    [formControl] = "descricao"
                    >
                </mat-form-field>
            </div>
  
            <div class="field-input">
              <span>Sigla</span>
                <mat-form-field class="md-input">
                  <input 
                    matInput
                    placeholder="Informe a Sigla"
                    name="sigla"
                    [formControl] = "sigla"
                    >
                </mat-form-field>
            </div>
  
            <div class="field-input">
              <span>E-mail de atendimento do sistema</span>
                <mat-form-field class="md-input">
                  <input 
                    matInput 
                    placeholder="Informe o e-mail"
                    name="email"
                    [formControl] = "email"
                    >
                </mat-form-field>
            </div>

            <div class="field-input">
              <span>Url</span>
                <mat-form-field class="md-input">
                  <input 
                    matInput
                    placeholder="Informe a Url"
                    name="url"
                    [formControl] = "url"
                    >
                </mat-form-field>
            </div>
        </div>
  
        <div class="box-button">
          <button mat-button routerLink='/'>
            <i class="fa fa-arrow-circle-left"></i>
            Voltar
          </button>

          <button mat-button (click)="onSave()">
            Salvar
            <i class="fa fa-save"></i>
            </button>
        </div>
      </div>
    </div>
  </div>